.tajuk{FONT-SIZE: 15px;FONT-FAMILY: Arial;COLOR: #000000; font-weight:bold;}
.tbl_tajuk{FONT-SIZE: 11pt;	FONT-FAMILY: Arial; color: #000033; background-color:#CCCCCC; font-weight:bold;}
.kandungan{FONT-SIZE: 10pt;	FONT-FAMILY: Arial; color: #000033;}
